{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "extends": "airbnb-base",
  "rules": {
    "semi": [2, "never"],
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off"
  }
}
